header{
  background-image: url("http://trackmy.tv/uploads/images/1397362801/1148/banner.jpg");
    height: 35vh;
    background-size: cover;
        margin-top: -18px;
}

.questionButton {
  background-color: #0005A6;
  color: #C5915F;
  font-size: 2rem;
  width: 100%;
  height: 11vh;

}

.column{
  display: inline-block;
  width: 20%;
  margin-top: -23px;
}
.QuestionColumn {
  list-style: none;
  padding-left: 0px;

}

.columnTitle{
  background-color: #0005A6;
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  height: 10vh;
  margin-bottom: -17px;
  text-align: center;
  padding-top: 2vh;
  padding-right: 3%;
  border: white 2px solid;

}

.modal-container{
  position: absolute;
      bottom: 8vh;
      left: 12%;
      opacity: 0.9;
      background: white;
      padding: 5%;
      text-align: center;
}

.categoryTitle{
  text-transform: uppercase;
color: #0005A6;
}

.questionCopy{
  font-size: 1.2rem;
color: #0005A6;
}

.answerBox{
  width: 60%;
display: block;
margin-left: 20%;
text-align: center;
height: 5vh;
border: #C5915F 3px solid;
margin-bottom: 2vh;
}

.button{
    background: #0005A6;
    font-size: 2rem;
    color: white;
    margin-right:1%;
  }
